<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Templates</title>
</head>
<body>

    Enter your text below.
    <form action='/analyze/' method='post'>
        {% csrf_token %}
        <textarea name='text' style='width: 470px; height: 350px;'></textarea>
        <br>

        <input type="checkbox" name="punctuation"> Remove Punctuations<br> 
        <button type='submit'>Analyze</button>
    </form>

    <br>
    <br>
    <br>
    <p>Navigation Links:</p>
    <a href={{ google }}> Google </a><br>
    <a href={{ leetcode }}> Leetcode </a>
    
</body>
</html>